<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="vi">
    
<head>
    <meta name="zalo-platform-site-verification" content="S_FZCR3oCYXQn88qe_C3DdlmqJcNXWTbE3Wo" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot - Thế Giới Sữa Mẹ Xíu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="chat-container">
        <h1>🤖 Chatbot chăm sóc khách hàng - Thế Giới Sữa Mẹ Xíu</h1>
        <div class="chat-box" id="chatBox"></div>

        <div class="input-area">
            <input type="text" id="userInput" placeholder="Nhập câu hỏi của bạn...">
            <button onclick="sendMessage()">Gửi</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
